<div class="col-xs-12 col-md-4"
     ng-controller="Detail">
    <div class="panel panel-default">
        <div class="panel-heading">{{selectedQuestion.question}}</div>
        <div class="panel-body">
            <button type="button"
                    class="btn btn-lg btn-block"
                    ng-class="option == selectedQuestion.answer ? 'btn-primary' : 'btn-default'"
                    ng-repeat="option in selectedQuestion.options"
                    ng-click="onSelectAnswer(selectedQuestion, option)">{{option.value}}
            </button>
        </div>
    </div>
</div>